body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0a1c34;
}

.container-panel{
    background-color:#041224;
    padding: 10px;
    border-bottom: solid 2px #004e84;
    color: #FFFFFF;
}
#visualization{
	height: 90vh;
}
#eventSpan{
  background-color: white;
}
.info_node{
  max-width: 390px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px;
  border-radius: 4px;
  z-index: 99;
}
.info_user{
  display: flex;
  align-items: center;
}
.user_names{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.subtitle{
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
}
.user_img_profile{
  border-radius: 50%;
  width: 60px;
}
.reach-info{
  border-left: solid 2px #d5d5d5;
  padding-left: 3px;
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sentiment{
  font-size: 12px;
}
.node_post{
  background: #dadada;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.node_post:before{
  content: '';
  position: absolute;
  top: -8px;
  left: 18px;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #dadada transparent;
}
.post_content{
  font-size: 12px;
  line-height: 1;
  text-align: justify;
}
.post_extrainfo{
  font-size: 11px;
  text-align: right;
}
.fa-twitter-square{
  color: #1dcaff;
}
.fa-facebook-square{
  color: #3B5998;
}