body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #DEE2EB;
}

#container_body{
  position: relative;
}

.container-panel{
    background-color:#041224;
    padding: 10px;
    border-bottom: solid 2px #004e84;
    color: #FFFFFF;
}
#visualization{
  height: 50vh;
  margin: 10px;
  background: white;
  border-radius: 5px;
}
#eventSpan{
  background-color: white;
}
.info_node{
  max-width: 390px;
  background: red;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 9px;
  border-radius: 4px;
  z-index: 99;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.info_user{
  display: flex;
  align-items: center;
}
.user_names{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.subtitle{
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
}
.user_img_profile{
  border-radius: 50%;
  width: 60px;
}
.reach-info{
  border-left: solid 2px #d5d5d5;
  padding-left: 3px;
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sentiment{
  font-size: 12px;
}
.node_post{
  background: #dadada;
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.node_post:before{
  content: '';
  position: absolute;
  top: -8px;
  left: 18px;
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #dadada transparent;
}
.post_content{
  font-size: 12px;
  line-height: 1;
  text-align: justify;
}
.post_extrainfo{
  font-size: 11px;
  text-align: right;
}
.fa-twitter-square{
  color: #1dcaff;
}
.fa-facebook-square{
  color: #3B5998;
}


/* Configuracion de lineas timeline */
.vis-item.vis-line, .vis-item.vis-dot{
  display: none;
}
.vis-item.vis-box {
  border-radius: 2px;
  top: 9px !important;
  transition: all .2s cubic-bezier(.65,.05,.36,1);
  height: 12px;
}
.vis-timeline{
  border: none;
}
.vis-time-axis .vis-text{
  border-left: 1px solid rgb(68, 132, 149);
  /* border-right: 1px solid green; */
}
.vis-time-axis .vis-grid.vis-minor{
  border-color: transparent;
}
#timeline{
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.vis-item.vis-selected{
  border-color: rgb(68, 132, 149) !important;
  background-color: rgb(101, 222, 253) !important;
  border-radius: 3px 3px 10px 10px;
  height: 20px;
}
.vis-panel.vis-bottom{
  border: 1px rgb(68, 132, 149)!important;
}